@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


.App {
  text-align: center;
  background-color:#E4E0C7;
  min-height: 100vh;
  border: black solid 1px;

  background-size: cover;
  
  

 /*  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); */
  color: rgb(20, 20, 20);
}

.icon {
  margin-right: 8px;
  font-size: smaller;
}

h1 {
  font-family: 'Handlee', cursive;
  margin: 5rem;
 
}

/* .year1800, .year1810, .year1820, .year1830, .year1840, .year1850 {
  background-color: darkblue;
}
.year1860, .year1870, .year1880, .year1890 {
  background-color: darkgoldenrod;
} */

.year1900{
  background-image: url("https://source.unsplash.com/IUn1O500LMI");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white;
  height: 100%;
 width: 100%;
  
}

.year1900font {
  font-family: 'IM Fell Great Primer', serif;
  color: white;
}

.year1910{
  background-image: url("https://source.unsplash.com/Otx5FHbr3OE");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white;
  /* background-size: cover; */
  height: 100%;
 width: 100%;
}

.year1910font {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.year1920{
  background-image: url("https://source.unsplash.com/saS98jKhVjA");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color:white;
  background-size: cover;
  height: 100%;
 width: 100%;
}

.year1920font{
  font-family: 'Federo', sans-serif;
  color: goldenrod;
}

.year1930 {
  background-image: url("https://source.unsplash.com/YwY39Ak4thk");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white;
  background-size: cover;
  height: 100%;
 width: 100%;

}

.year1930font {
  color: white;
  font-family: 'Diplomata', cursive;
}

.year1940 {
  background-image: url("https://source.unsplash.com/OKLqGsCT8qs");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white;
  background-size: cover;
  height: 100%;
 width: 100%;
}

.year1940font {
  font-family: 'Raleway', sans-serif;
  color: white;
}

.year1950 {
  background-image: url("https://source.unsplash.com/gcGicCJHs8s");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color:white;
  background-size: cover;
  height: 100%;
 width: 100%;
  

}

.year1950font {
  font-family: 'Yellowtail', cursive;
  color: white;
}

.year1960 {
  background-image: url("https://source.unsplash.com/61rFb1qnu1k");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  background-size: cover;
  height: 100%;
 width: 100%;
}

.year1960font {
  font-family: 'Mystery Quest', cursive;
  color: rgb(179, 0, 74);
}

.year1970 {
  background-image: url("https://source.unsplash.com/C8lJ6WE5RNw");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  
  background-size: cover;
  height: 100%;
 width: 100%;
  
}

.year1970font {
  font-family: 'Monoton', cursive;
  text-shadow:0.5px 0.5px goldenrod;
}

.year1980 {
  background-image: url("https://source.unsplash.com/7r8eYPAzONs");
  background-repeat: no-repeat;
  background-attachment: fixed;

  color:white;
  background-size: cover;
  height: 100%;
 width: 100%;
 }

.year1980font {
  font-family: 'Audiowide', cursive;
  color: rgb(255,72,196);
  text-shadow: 2px 2px black;
}

.year1990 {
  background-image: url("https://source.unsplash.com/rlbG0p_nQOU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color:white;
  background-size: cover;
 height: 100%;
 width: 100%;

 
}

.year1990font {
  font-family: 'Libre Barcode 128 Text', cursive;
  background-color: black;
}

.year2000 {
  background-image: url("https://source.unsplash.com/A56f9_DtvG8");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: white;
    background-size: cover;
    height: 100%;
 width: 100%;
}

.year2000font{
  font-family: 'Sedgwick Ave Display', cursive;
}

.year2010 {
  background-image: url("https://source.unsplash.com/ZhQCZjr9fHo");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: white;
    background-size: cover;
    height: 100%;
 width: 100%;
}

.year2010font{
  font-family: 'Major Mono Display', monospace;
}

.year2020 {
  background-color: black;
  color:white;
}

.year2020font {
  font-family: 'Inconsolata', monospace;
  color: white;
}


.btn {
  border-style: solid;
  border-color: rgb(20, 20, 20);
  border-width: 2px;
  background-color:#CC6E55;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  margin-bottom: 1rem;
}

 a {
  text-decoration: none;
  color: rgb(20, 20, 20);

}
/* 
p {
  border-bottom: 1px black solid;
  
} */
.musicList {

/*   background: rgba(224, 76, 76, 0.651); */
/*   display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-left:2rem;
  margin-right: 2rem; */
}

.noList {
  margin-top: 2rem;
  font-size: 1.6rem;
  background: rgba(155, 153, 153, 0.74);
  border: solid black 1px;
padding: 1rem;

 

}