@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.songs {
    width: 25vh;
    margin: 1rem;
    background: #eee;
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}

.imagelist, iframe {
      width: 100%
}

iframe.body.-webkit-full-page-media {
        background-color: rgb(78, 0, 74);
}

iframe {
    border:none;
    border-radius: 3px;
   padding-bottom: 10px;
    background: black;
}

.songlist {

}

.songlink:hover {
     background: rgba(0, 0, 0, 0.473);
     padding: 5px;
     border-radius: 3px;
     color: rgb(30, 215, 96);
}

/* .songlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

} */
    

    /* padding: 3rem; */
 /*    margin: 2rem;
    white-space: nowrap;
   width: 30%; */
  /*   overflow: hidden; */
   
/* }



.artistlist {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; */
    /* padding: 3rem; */
/*    margin: 2rem;
   white-space: nowrap;
   overflow: hidden;
   width: 30%;
   

}

.imagelist {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly; */
    /* padding: 3rem; */
/*    margin: 2rem;
   margin-top: 8rem;
  
}

.imagelist img {
    display: block;
    width:50%;
    margin: 2rem;
}

.artistlist p:hover {
    color:blueviolet;
    overflow: auto;
}


.links {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3rem;
   margin: 2rem;

} */

