@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.App {
  text-align: center;
  background-color:#E4E0C7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(20, 20, 20);
}

h1 {
  font-family: 'Abril Fatface', cursive;
  margin: 5rem;
}

.btn {
  border-style: solid;
  border-color: rgb(20, 20, 20);
  border-width: 2px;
  background-color:#CC6E55;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 2px 2px 5px;
}

 a {
  text-decoration: none;
  color: rgb(20, 20, 20);

}
/* 
p {
  border-bottom: 1px black solid;
  
} */


  
  

